# Arxeio: .gitignore
# Rolos: Krataei sto git mono ta aparaitita arxeia kai agnoei generated/uploads/dependencies.
# Simeiosi: Allages edo mporoun na epireasoun tin antistoixi selida i service pou to kanei include.
# Agnooume vendor dependencies pou dimiourgountai apo composer.
# Ta packages ginontai install apo composer.json/composer.lock, opote den ta kanoume commit.
/vendor/
